body {
	background-color: #f49e42;
	margin: 0;
}
.image {
	float: left;
	padding-left: 20px;
}

a {
	padding: 6px;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	position: relative;
	cursor:pointer;
	font-size: 14px;
	font-weight: bolder;
}
.homeTag:hover {
	background: url("arrow.png") bottom no-repeat;
}

.content_wrapper {
	float: right;
	padding-top: 35px;
	margin-right: 20px;

}
.wrapper {
	background-color: black;
	width: 100%;
	height: 60px;
	position: relative;
	overflow: hidden;
}
.arrow {
	position: absolute;
    top: 60px;
    right: 190px; 
    display: none;
}
