html {
	height: 100%;
}

body {
	background-color: #f48c42;
	margin: 0;
	height: 100%;

}
h1 {
	height: 40px;
	margin: 0;
	padding: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrapper {
	height: 100%;
}

.contentWrapper {
	height: calc(100% - 83px);
	background-color: #c0ce40;
	
}

.firstPara {
	float: left;
	width: 150px;
  	height: 100%;
  	overflow: auto;
}

.secondPara {
	float: left;
	width: calc(100% - 350px);
	border-left: 1px solid;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}

.thirdPara {
	float: right;
	height: 100%;
	width: 200px;
	box-sizing: border-box;
	border-left: 1px solid;
	overflow: auto;
}